body{
  background-color: rgb(225,225,225);
}

.ativa{
  background: #5199a9;
}
.icone{
  font-size:15px;
  color:black;
  margin-right:2px;
}

.editIcone{
  font-size:15px;
  color:black;
  margin-right:2px;
}

.breadcrumb{
  margin-top: 10px;
  background: white;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 10px;
}
section.principal a{
  text-decoration: none;
  color:black;
}
.breadcrumb a{
  text-decoration: none

}

.breadcrumb li{
  margin-left: 5px;
  
}

.navbar, .corPadrao {
  background-color: #5995b6;
}
.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f8feff;
}
.navbar .navbar-text {
  color: #c8e7ed;
}
.navbar .navbar-text a {
  color: #f8feff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #f8feff; 
}
.navbar .navbar-nav .nav-link {
  color: #c8e7ed;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #f8feff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #f8feff;
  background-color: #037f97;
}
.navbar .navbar-toggler {
  border-color: #037f97;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #037f97;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #c8e7ed;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #c8e7ed;
}
.navbar .navbar-link {
  color: #c8e7ed;
}
.navbar .navbar-link:hover {
  color: #f8feff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c8e7ed;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f8feff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f8feff;
    background-color: #037f97;
  }
}



@media screen and (max-width: 768px){
  .lista li{
    margin-left: 2px;
  }
  #painel{
    margin: 0 auto;
  }
}



@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c8e7ed;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f8feff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f8feff;
    background-color: #037f97;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c8e7ed;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f8feff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f8feff;
    background-color: #037f97;
  }
}
/*Estilo para o painel*/
header#header{
  border-radius: 5px;
  background: #333;
  color: white;
}

#header span{
  margin-right: 20px;
  font-size: 25px;

}

header h2{
  margin: 0;
}

header p{
  margin-top: 10px;
  position: relative;

}

/*----------------------*/
@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c8e7ed;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f8feff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f8feff;
    background-color: #037f97;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #c8e7ed;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #f8feff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #f8feff;
  background-color: #037f97;
}